{% extends 'base.html' %}
{% load static %}

{% block title %}
    Rules
{% endblock %}

{% block body %}
    {% if request.user.is_authenticated %}
        <h4>Добро пожаловать {{ request.user.username }}</h4>
    {% endif %}

    <ul>
        <li>
            <a href="{% url 'labirint:rules' %}">Правила игры</a>
        </li>
        <li>
            <a href="{% url 'labirint:select_hero' %}">Начать игру</a>
        </li>
        {% if request.user.is_staff %}
            <li>
                <a href="/admin">Админка</a>
            </li>
        {% endif %}

    </ul>
{% endblock %}