{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'labirint/css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="row mt-3 px-3">
        <div class="col-sm-6 p-2 gothic-font">

            {{ Page.description }}
        </div>
        <div class="col-sm">
            вражины
        </div>
        <div class="col-sm">
            {% if Page.game_over %}
                <h3 style="color: darkred; font-size: 3em" class="text-center gothic-font">Лабиинт поглотил тебя!</h3>
                <img src="{{ over_img.image.url }}" alt="Конец игры" class="w-100 h-auto mb-2">
                <a href="{% url 'labirint:index' %}" class="page-link btn">На главную</a>

            {% endif %}

            <div class="btn-group-vertical btn-group-lg gothic-font" role="group" aria-label="Basic example">
                {% for way in Ways %}
                    <a type="button" href="{% url 'labirint:step' way.step %}" class="btn btn-info">{{ way.description }}</a>
                {% endfor %}



            </div>
        </div>
    </div>


{% endblock %}