{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="paragraph">
        <p>
            … Если вы любите читать – вам, наверное, не раз хотелось крикнуть – «Не так!», « Надо по другому!».
            И мысленно вы представляли, как сами бы поступили на месте героя. Эта книга дает вам такую возможность.
            Здесь героем будете ВЫ и только ВЫ. Только Вам предстоит решить по какому пути вы отправитесь.
            Смело выйдете навстречу разбойникам, или осторожно проползете мимо них.
            Сразитесь с врагом, или встанете на его сторону. Свет или тьма. Добро или зло. Честь или бесчестье.
            Все будет зависеть только от вас. И только вам решать – победой или поражением окончится книга в этот раз…
        </p>
    </div>

    <div class="paragraph">
        <p>
            За пределами пространства и времени, за бесчисленными поворотами и смертельными ловушками темного лабиринта
            Фанг тебя поджидают неизъяснимые ужасы и опасности. Порожденный дьявольской думой барона Сукумвита, лабиринт
            населен кровожадными монстрами, встреча с которыми сулит тебе лишь одно - СМЕРТЬ,
            если только ты недостаточно смел, недостаточно силен, недостаточно искусен и удачлив.
        <p>
            Так посмеешь ли ты войти в разверстую пасть страшного лабиринта, чтобы, быть может, остаться там навеки или
            же,
            испытав множество захватывающих приключений, получить сказочную награду, за которой кроме тебя охотятся еще
            пятеро бывалых воинов? И лишь один из вас сможет победить в этой схватке - остальным уготована гибель.
            Но КТО именно?
        </p>
        <p>
            Две игральные кости, карандаш и ластик - вот все, что понадобится тебе, чтобы бросить вызов силам зла и
            пуститься
            в это захватывающее путешествие, в ходе которого ты должен будешь отмечать свои победы и поражения на
            специальной
            Игровой Карте
        </p>
        <p>

            Множество опасностей поджидает тебя, и непрост будет твой путь к победе и заслуженной награде.
            Тебе встретятся страшные противники, и зачастую у тебя будет лишь один выбор - УБИТЬ или УМЕРЕТЬ самому!
        </p>
    </div>


    <div class="paragraph">
        <h2>Как сражаться с чудовищами Лабиринта страха?</h2>

        <p>
            Перед тем как пуститься в путешествие, определи, в чем твои сильные и слабые стороны.
        </p>
        <p>
            Готовясь к странствиям, ты усиленно тренировался в искусстве владения оружием, крепил свой дух и закалял
            тело.
            Чтобы узнать, насколько эффективны были приготовления, ты с помощью игральных костей должен определить
            начальный уровень своего МАСТЕРСТВА, ВЫНОСЛИВОСТИ и УДАЧЛИВОСТИ.
            На Игровой Карте ты будешь отмечать происходящие в ходе путешествия события.
            Там же ты найдешь поля для записи значений своего МАСТЕРСТВА, ВЫНОСЛИВОСТИ и УДАЧЛИВОСТИ.
        </p>
        <p>
            Советуем тебе вести все записи карандашом и сразу же сделать несколько ксерокопий Игровой Карты - весьма
            маловероятно, что тебе с первой же попытки удастся выиграть в столь сложном состязании!
        </p>
    </div>

    <div class="paragraph">
        <h2>Мастерство, Выносливость и Удачливость</h2>
        <p>
            Брось одну кость. Прибавь к выпавшему значению. 6. Запиши полученное число в поле «МАСТЕРСТВО» на Игровой
            Карте.
        </p>
        <p>
            Брось две кости. Прибавь к выпавшему значению 12. Запиши полученное число в поле «ВЫНОСЛИВОСТЬ» на Игровой
            Карте.
        </p>
        <p>
            Брось одну кость. Прибавь к выпавшему значению 6. Запиши полученное число в поле «УДАЧЛИВОСТЬ» на Игровой
            Карте.
        </p>
        <p>
            По определенным причинам, о которых ты прочтешь ниже, твое МАСТЕРСТВО, ВЫНОСЛИВОСТЬ и УДАЧЛИВОСТЬ будут
            постоянно меняться в ходе игры. Ты должен аккуратно записывать все эти изменения, поэтому старайся писать
            мелко,
            либо же держи под рукой ластик. Но никогда не стирай НАЧАЛЬНЫЕ ЗНАЧЕНИЯ! Хотя в процессе игры тебе иногда
            будут
            присваиваться дополнительные очки МАСТЕРСТВА, ВЫНОСЛИВОСТИ и УДАЧЛИВОСТИ, их суммарные показатели никогда не
            могут превышать НАЧАЛЬНОГО ЗНАЧЕНИЯ, за исключением тех редких случаев, когда это будет специально
            оговорено.
        </p>
        <p>
            Уровень МАСТЕРСТВА отражает степень твоего искусства владения мечом и общий уровень боевой подготовки; чем
            он
            выше, тем лучше. Уровень ВЫНОСЛИВОСТИ отражает состояние твоего здоровья, твою волю к победе, способность
            отражать удары и переносить ранения; чем выше уровень ВЫНОСЛИВОСТИ, тем дольше ты можешь сопротивляться
            ударам
            врагов. Уровень УДАЧЛИВОСТИ показывает, насколько ты везуч. Удача (и магия) - это реалии жизни королевства
            фэнтэзи, с которыми тебе предстоит столкнуться.
        </p>
    </div>

    <div class="paragraph">
        <h2>Битвы</h2>
        <p>
            На страницах книги тебе не раз придется столкнуться с различными враждебными и агрессивными существами.
            Иногда у
            тебя будет возможность отступить, если же нет - или если ты все же примешь решение атаковать врагов - то
            битва
            должна развиваться по следующему сценарию:
        </p>
        <p>
            Сперва отметь уровень МАСТЕРСТВА и ВЫНОСЛИВОСТИ противника в любом свободном Поле Битвы на Игровой Карте.
            Затем:
        </p>
        <ol>
            <li>Брось две кости. Прибавь выпавшее число к уровню МАСТЕРСТВА противника. Полученное число определяет силу
                его
                удара.
            </li>
            <li>Брось две кости. Прибавь выпавшее число к уровню своего МАСТЕРСТВА. Полученное число определяет силу
                твоего
                удара.
            </li>
            <li>Если сила твоего удара больше, чем сила удара противника, ты ранил его. Переходи к п.4. Если сила удара
                противника больше твоей, то ранили тебя - переходи к п.5. Если же силы ударов равны, то это значит, что
                вы
                оба отразили удары - следующий этап битвы начинается с п.1.
            </li>
            <li>Ты ранил противника - отними 2 от уровня его ВЫНОСЛИВОСТИ. Чтобы нанести ему еще больший урон, можешь
                прибегнуть к помощи удачи (см. ниже).
            </li>
            <li>Противник ранил тебя - отними 2 от уровня своей ВЫНОСЛИВОСТИ. В этом случае ты также можешь призвать на
                помощь удачу (см. ниже).
            </li>
            <li>Внеси соответствующее изменение в уровень ВЫНОСЛИВОСТИ противника, либо же в свой собственный.</li>
        </ol>
        <p>
            Следующие этапы битвы происходят в той же последовательности до тех пор, пока либо твоя ВЫНОСЛИВОСТЬ, либо
            ВЫНОСЛИВОСТЬ твоего противника не окажется равной нулю.
        </p>

    </div>

    <div class="paragraph">
        <h2>Отступление</h2>
        <p>
            Иногда, если битва будет складываться не в твою пользу, тебе будет разрешено ОТСТУПИТЬ. Однако при этом
            противник автоматически наносит тебе еще одно ранение (отними 2 от уровня своей ВЫНОСЛИВОСТИ) - такова плата
            за трусость. В этом случае ты также можешь призвать на помощь удачу (см. ниже). Обрати внимание, ты можешь
            отступить лишь когда это специально оговорено!
        </p>
    </div>

    <div class="paragraph">
        <h2>Битва с несколькими противниками</h2>
        <p>
            В том случае, если на твоем пути встанут сразу несколько противников, тебе будут даны специальные инструкции
            о правилах ведения битвы.
        </p>
    </div>

    <div class="paragraph">
        <h2>Удачливость</h2>
        <p>
            Иногда во время путешествия, будь то битвы либо определенные события, в которых твое везение может играть
            определяющую роль (в этом случае тебе будут даны соответствующие указания), ты можешь призвать на помощь
            удачу.
            Однако будь осторожен! Удача - коварная вещь, и есть вероятность, что она обернется против тебя!
        </p>
        <p>
            Использовать удачу ты можешь следующим образом: брось две кости. Если выпавшее число меньше или равно
            текущему
            значению твоей УДАЧЛИВОСТИ, значит, тебе повезло, и судьба благоприятствует тебе. Если же выпавшее число
            больше
            текущего значения твоей УДАЧЛИВОСТИ - счастье отвернулось от тебя.
        </p>
        <p>
            Подобное действие называется «ИСПЫТАНИЕ УДАЧИ». Каждый раз, когда ты испытываешь удачу, ты должен отнять 1
            от
            текущего значения своей УДАЧЛИВОСТИ. А это значит, что чем чаще ты будешь испытывать удачу, тем более и
            более
            рискованным это испытание будет становиться!
        </p>
    </div>

    <div class="paragraph">
        <h2>Использование удачи в битвах</h2>
        <p>На некоторых страницах книги тебе будет специально указано испытать удачу, там же будут описаны результаты
            этого
            испытания в зависимости от твоей везучести. В битвах же ты можешь испытывать удачу по своему желанию либо
            для
            того, чтобы нанести противнику более серьезный урон, либо же для того, чтобы свести на нет последствия
            собственного ранения.</p>
        <p>Если ты ранил своего противника, ты можешь испытать удачу, как это было описано выше. Если тебе повезет, ты
            нанесешь противнику более серьезную рану (дополнительно отними 2 от уровня его ВЫНОСЛИВОСТИ). И наоборот,
            если
            тебе не повезет, ты нанесешь противнику менее серьезную рану (вместо 2 отними 1 от уровня его
            ВЫНОСЛИВОСТИ).</p>
        <p>Если противник ранил тебя, ты можешь испытать удачу, чтобы сделать ранение менее тяжелым. Если тебе повезет,
            то
            вместо 2 отними 1 от уровня своей ВЫНОСЛИВОСТИ. Если же не повезет, это значит, что противник нанес тебе еще
            более тяжелую рану (дополнительно отними 1 от уровня своей ВЫНОСЛИВОСТИ).</p>
        <p>И запомни: каждый раз, как ты испытываешь удачу, ты должен отнять 1 от текущего уровня своей УДАЧЛИВОСТИ.</p>
    </div>

    <div class="paragraph">
        <h2>Восстановление МАСТЕРСТВА, ВЫНОСЛИВОСТИ и УДАЧЛИВОСТИ</h2>

        <h3>МАСТЕРСТВО</h3>
        <p>Уровень твоего МАСТЕРСТВА не будет претерпевать серьезных изменений в ходе путешествия. Тем не менее на
            некоторых
            страницах книги тебе будут даны специальные указания по увеличению или уменьшению уровня МАСТЕРСТВА.
            Запомни,
            что уровень твоего МАСТЕРСТВА никогда не может превышать его начального значения за исключением тех случаев,
            когда это будет специально оговорено. Выпив Напитка Мудрых (см. ниже), ты в любой момент можешь восстановить
            уровень своего МАСТЕРСТВА до его начального значения.</p>

        <h3>ВЫНОСЛИВОСТЬ и ЗАПАСЫ ПРОВИЗИИ</h3>
        <p>Уровень твоей ВЫНОСЛИВОСТИ будет постоянно меняться в ходе столкновения с различными монстрами и выполнения
            сложных задач. Будь осторожен, ты можешь находиться в двух шагах от желанной цели, но проиграть битву с
            вставшим
            на твоем пути противником только потому, что уровень твоей ВЫНОСЛИВОСТИ слишком низок.</p>
        <p>В твоем заплечном мешке достаточно провизии на десять трапез. Ты можешь отдохнуть и перекусить в любую
            минуту,
            однако не тогда, когда тебя вызывают на битву. Одна трапеза восстанавливает 4 пункта в уровне твоей
            ВЫНОСЛИВОСТИ, одновременно запас продовольствия в твоем мешке уменьшается на 1. На Игровой Карте в
            специальном
            поле, обозначенном «Запасы Провианта», отмечай, сколько провизии осталось у тебя в мешке. Помни, что тебе
            предстоит долгое путешествие, поэтому расходуй провизию мудро и только тогда, когда это по-настоящему
            необходимо!</p>
        <p>Уровень твоей ВЫНОСЛИВОСТИ никогда не может превышать его начального значения за исключением тех случаев,
            когда
            это будет специально оговорено. Выпив Напитка Сильных (см. ниже), ты в любой момент можешь восстановить
            уровень
            своей ВЫНОСЛИВОСТИ до его начального значения.</p>

        <h3>УДАЧЛИВОСТЬ</h3>
        <p>В некоторых случаях уровень твоей удачливости может повышаться, однако он никогда не должен превышать своего
            начального значения за исключением тех случаев, когда это будет специально оговорено. Выпив Напитка
            Удачливых
            (см. ниже), ты в любой момент можешь восстановить уровень своей УДАЧЛИВОСТИ до его начального значения, а
            само
            начальное значение увеличить на 1.
        </p>

        <h3>СНАРЯЖЕНИЕ и НАПИТКИ</h3>
        <p>Ты отправляешься в путь, имея в распоряжении лишь самое необходимое снаряжение, но в ходе путешествия ты
            будешь
            находить разные полезные вещи. Ты вооружен мечом и щитом, одет в кожаную рубаху, за плечами у тебя мешок с
            провиантом, в который ты будешь складывать добытые сокровища.
        </p>
        <p>
            Кроме того, с собой ты можешь взять бутыль с волшебным напитком, который окажет тебе помощь в странствиях.
            Ты
            можешь выбрать одну из трех бутылей:
        </p>
        <p>Напиток Мудрых - восстанавливает уровень твоего МАСТЕРСТВА;
        </p>
        <p>Напиток Сильных - восстанавливает уровень твоей ВЫНОСЛИВОСТИ;
        </p>
        <p>Напиток Удачливых - восстанавливает уровень твоей УДАЧЛИВОСТИ, а ее начальное значение увеличивает на 1.
        </p>
        <p>
            Ты можешь принять напиток в любой момент, только не тогда, когда тебя вызывают на битву. Учти, что каждая
            бутыль
            содержит напиток лишь на один прием, т.е. твои МАСТЕРСТВО, ВЫНОСЛИВОСТЬ и УДАЧЛИВОСТЬ могут быть
            восстановлены
            лишь один раз за все путешествие! Как только ты выпил из бутыли, сделай соответствующую отметку на Игровой
            Карте.
        </p>
        <p>
            Напоминаем еще раз: в дорогу ты можешь взять лишь одну бутыль из трех, так что хорошенько подумай, перед тем
            как
            сделать выбор.
        </p>
    </div>

    <div class="paragraph">
        <h2>Советы игроку
        </h2>
        <p>Существует лишь один верный путь через Лабиринт Страха, и для того, чтобы отыскать его, тебе придется
            предпринять
            не одну попытку. Делай заметки, рисуй карту пройденных территорий - она окажет тебе неоценимую помощь в
            дальнейшем путешествии, позволит быстрее осваивать еще неисследованные участки лабиринта.
        </p>
        <p>
            Далеко не везде ты найдешь сокровища, далеко не всякий проход приведет тебя к заветной цели - в некоторых
            запутанных и даже тупиковых участках Лабиринта нет ничего, кроме хитроумных ловушек и злокозненных монстров
            которые, не задумываясь, нападут на тебя.
        </p>
        <p>Учти, что читать разделы по порядку их нумерации ни в коем случае не следует - это лишь запутает тебя и
            снизит
            удовольствие от игры! Начинай с первого раздела, следуй инструкциям - и интереснейшее времяпрепровождение,
            насыщенное захватывающими странствиями, приключениями и битвами тебе гарантировано!
        </p>
        <p>Единственный правильный путь через Лабиринт таит в себе наименьшее количество препятствий, и любой игрок, вне
            зависимости от уровня его МАСТЕРСТВА, ВЫНОСЛИВОСТИ И УДАЧЛИВОСТИ, сможет добраться до победного конца!
        </p>
        <p>Так что удачи тебе, и да помогут тебе боги на твоем пути через темный Лабиринт Страха!</p>
    </div>
{% endblock %}





