@font-face {
    font-family: Gothic;
    src: url("../font/gothic.ttf") format('truetype'), local('gothic');
}

.gothic-font{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: larger;
}

table.border.table.w-100 tr td:first-child {
    padding-right: 0;
}

.scroll {
    overflow-y: scroll;
    padding:0 10%;
}

.prologue-text {
    font-size: 3ex;
    height: 25em;
}

.scroll::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

.min-h-25 {
    min-height: 25%;
}
.invent h6 {
    color: brown;
}

.invent .list-group li.list-group-item {
    font-size: small;
    color: #ba8b00;
}

.border-2 {
    border: 15px;
}

.history-fight {
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
